@model bool

@if (Model) {
    <link href="http://www.gstatic.com/freebase/suggest/4_1/suggest.min.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="http://www.gstatic.com/freebase/suggest/4_1/suggest.min.js"></script>

    using(Ajax.BeginForm("Interests","Home",new AjaxOptions{
            HttpMethod = "Post",
            OnSuccess = "afterinsertinterest",
            }, new { id = "addInterestForm" }))
        {
            @Html.AntiForgeryToken();
            <input type="text" id="idtext" name="id" hidden/>
            <input type="text" id="interesttext" name="name"/>
            <input type="submit" id="interestSubmit" style="display:none;" value="Create" />
        }

    <script type="text/javascript">
        function makepost(e, data)
        {
            $("#idtext").val(data.id);
            $("#interesttext").val(data.name);
            $("#interestSubmit").click();
        }
        function afterinsertinterest(data)
        {
            var interestName = data.name;
            $("#interesttext").val("");
            $("#interests").append("<div>" + interestName + "</div>");
        }
        $(function () {
            $("#interesttext").suggest().bind("fb-select", function (e, data) {
                makepost(e, data);
            });
        });
    </script>
}

<div id="interests">
    
    @foreach (var Interest in ViewBag.Interests)
    {
        <span class="interest">
            @Interest
            @if (Model) { 
                <span class="removeInterest" onclick="alert('remove')">X</span>
            }
        </span>
    }
</div>